/* -------------- BODY, HEADINGS AND PSEUDO CLASSES FOR START, NEXT QUESTION AND RESTART BUTTONS ----------------- */
body {
    background-color: #b7cad1;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background: url('../media/question-mark.jpg') no-repeat center top;
    background-size: cover;
    height: 100vh;
    padding: 0%;
}

#heading {
    background-color: rgba(243, 201, 149, 0.993);
    border: #E6ECF0 dotted 8px;
    text-align: center;
    font-size: 1.0rem;
    padding: 0.75rem;
    margin-bottom: 20px;
}

h3 {
    margin-top: 40px;
}

#start-button {
    margin: 0 auto;
    padding: 15px 32px 15px 32px;
    margin-top: 25px;
    font-size: 190px;
    font-size: 160%;
    text-decoration: none;
    color: black;
    background-color: rgb(199, 100, 43);;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

#start-button:hover {
    background-color: rgba(243, 201, 149, 0.993); 
    border-color:black;
    border-radius: 10px;  
}

#next-button:hover {
    background-color: #E6ECF0;
    border-color: black;
    border-radius: 10px;
}

#restart-button:hover {
    background-color: #E6ECF0;
    border-color: black;
    border-radius: 10px;
}

/* -------------- QUESTION DISPLAY AND ANSWER OPTIONS AREA ----------------- */

/* Quiz Area which contains question display, answer select div and feedback div */
#quiz-area {
    margin-top: 20px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
}

/* Where quiz questions will be displayed */
#question {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

/* Where answer options will be displayed */
#answer-select {
    height: 200px;
    width: 95%;
    margin-left: 5%;
    padding-top: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
}

/* the radio buttons that need to be selected to register an answer */
.answer-option {
    height: 20%;
    width: 20%;
}

/* Feedback display : "Correct!" or "Incorrect" and Total Score */
#feedback {
    margin-left: -10%;
    position: relative;
    font-weight: bolder;
    font-size: 30px;
}

/* -------------- SCORE DISPLAY, ICON DISPLAY AND SCORE TRACKER AREA ----------------- */

/* Area where icons are displayed */
#icon-area {
    margin-top: 10px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 15vh;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* icons to change colour according to user input matched against answer index in array */
#correct {
    margin: 2px 70px 2px 2px;
    font-size: 70px;
}

#incorrect {
    margin: 2px 2px 2px 70px;
    font-size: 70px;
}

/* area for buttons, next and restart */
#button-div {
    margin-top: 0.7%;
}

/* Next Question and Restart buttons */
#next-button {
    margin: 0 auto;
    margin-bottom: -18px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

#restart-button {
    margin: 0 auto;
    margin-bottom: -18px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

/* Where running score is displayed */
#score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    background:#E6ECF0;
    border-radius: 10vmin;
    padding: 10px;
}

/* -------------- MEDIA QUERIES----------------- */

@media screen and (max-width: 1440px) {

    #quiz-area {
    margin-top: 2px;
    border-radius: 10vmin;
    box-sizing: border-box;
    width: 85%;
    height: 46vh;
    margin-left: auto;
    margin-right: auto;
    }

    #question {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    }

    #answer-select {
    height: 180px;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    white-space: nowrap;
    }

    .answer-option {
    height: 15%;
    width: 15%;
    }

    #feedback {
    margin: auto;
    margin-top: 55px;
    position: relative;
    font-size: 25px;
    }

    #icon-area {
    border-radius: 10vmin;
    width: 75%;
    height: 15vh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    }

    #correct {
    margin: 5px 70px 2px 2px;
    font-size: 70px;
    }

    #incorrect {
    margin: 5px 2px 2px 70px;
    font-size: 70px;
    }

    #button-div {
    margin: 1%;
    }

    #next-button {
    position: relative;
    top: -0.10rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }

    #restart-button {
    position: relative;
    top: -0.10rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }

    #score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
    box-sizing: border-box;
    border-radius: 10vmin;
    padding: 15px;
    }
}

@media screen and (max-width: 1024px) {

    body {
    background: url('../media/question-mark.jpg') center;
    background-size: cover;
    height: 100vh;
    padding: 0%;
    object-fit: cover;
    }

    #quiz-area {
    margin-top: 2px;
    border-radius: 10vmin;
    box-sizing: border-box;
    width: 85%;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    }
    
    #question {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    }

    #answer-select {
    height: 180px;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    }
    
    .answer-option {
    height: 15%;
    width: 15%;
    }

    #feedback {
    margin: auto;
    margin-top: 55px;
    position: relative;
    font-size: 25px;
    }

    #icon-area {
    border-radius: 10vmin;
    width: 65%;
    height: 18vh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    }

    #correct {
    margin: 20px 70px 2px 2px;
    font-size: 60px;
    }

    #incorrect {
    margin: 20px 2px 2px 70px;
    font-size: 60px;
    }

    #button-div {
    margin: 1%;
    }

    #next-button {
    position: relative;
    top: .10rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }

    #restart-button {
    position: relative;
    top: .10rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }

    #score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
    box-sizing: border-box;
    border-radius: 10vmin;
    padding: 10px;
    }
}

@media screen and (max-width: 992px) {

    #quiz-area {
    margin-top: 2px;
    box-sizing: border-box;
    border-radius: 10vmin;
    width: 85%;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    }

    #question {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    }

    #answer-select {
    height: 180px;
    width: 100%;
    margin: auto;
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 25px;
    white-space: nowrap;
    }
    
    .answer-option {
    height: 10%;
    width: 5%;
    }
    
    #feedback {
    margin-left: -5%;
    position: relative;
    font-weight: bolder;
    font-size: 22px;
    }

    #icon-area {
    border-radius: 10vmin;
    width: 65%;
    margin-left: 18%;
    height: 15vh;
    box-sizing: border-box;
    padding: 1%;
    }
    
    #correct {
    margin: 8px 70px 2px 2px;
    font-size: 60px;
    }
    
    #incorrect {   
    margin: 8px 2px 2px 70px;
    font-size: 60px;
    }
    
    #button-div {
    margin: 1%;
    }
    
    #next-button {
    position: relative;
    top: .05rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }
    
    #restart-button {
    position: relative;
    top: .05rem;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    }
    
    #score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
    box-sizing: border-box;
    border-radius: 10vmin;
    padding: 10px;
    }
}

@media screen and (max-width: 576px) {

    #quiz-area {
    margin-top: 2px;
    box-sizing: border-box;
    border-radius: 10vmin;
    width: 85%;
    height: 34vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    }

    #question {
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    }  

    #answer-select {
    height: 180px;
    width: 90%;
    margin: auto;
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 15px;
    white-space: nowrap;
    }
                          
    .answer-option {
    height: 10%;
    width: 5%;
    }
                
    #feedback {
    margin-left: -2%;
    position: relative;
    font-weight: bolder;
    font-size: 16px;
    }
            
    #icon-area {
    border-radius: 10vmin;
    width: 65%;
    height: 20vh;
    margin-left: 17%;
    box-sizing: border-box;
    padding: 1%;
    }

    #correct {
    margin: 30px 32px 2px 2px;
    font-size: 60px;
    }
                
    #incorrect {
    margin: 30px 2px 2px 32px;
    font-size: 60px;
    }

    #button-div {
    margin: 1%;
    }

    #next-button {
    position: relative;
    top: 0.25rem;
    border-radius: 2px;
    padding: 15px 12px 15px 12px;
    font-size: small;
    }
        
    #restart-button {
    position: relative;
    top: 0.25rem;
    border-radius: 2px;
    padding: 15px 12px 15px 12px;
    font-size: small;
    }
                
    #score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
    box-sizing: border-box;
    border-radius: 10vmin;
    padding: 10px;
    }
}

@media screen and (max-width: 375px) {

    #quiz-area {
    margin-top: 2px;
    box-sizing: border-box;
    border-radius: 10vmin;
    width: 85%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    }

    #question {
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    }  
        
    #answer-select {
    height: 180px;
    width: 90%;
    margin: auto;
    font-weight: 600;
    padding-top: 0.05rem;
    padding-bottom: 0.10rem;
    font-size: 12px;
    white-space: nowrap;
    }
                                            
    #feedback {
    margin-left: -2%;
    position: relative;
    font-weight: bolder;
    font-size: 14px;
    }

    #icon-area {
    border-radius: 10vmin;
    width: 65%;
    height: 16vh;
    margin-left: 18%;
    box-sizing: border-box;
    padding: 1%;
    }

    #correct {
    margin: 25px 25px 2px 2px;
    font-size: 50px;
    }
                    
    #incorrect {
    margin: 25px 2px 2px 25px;
    font-size: 50px;
    }

    #next-button {
    position: relative;
    top: .50rem;
    border-radius: 2px;
    padding: 8px 2px 8px 2px;
    font-size: small;
    }
    
    #restart-button {
    position: relative;
    top: .50rem;
    border-radius: 2px;
    padding: 8px 2px 8px 2px;
    font-size: small;
    }

    #score {
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
    border-radius: 5vmin;
    padding: 2.5px;
    }
}