/* Global style */
body {
    background-color: #b7cad1;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* Heading */
#heading {
    background-color: bisque;
    border: rgba(123, 140, 23, 0.9) dotted 3px;
    text-align: center;
    font-size: 1.0rem;
    padding: 1.0rem;
    margin-bottom: 20px;
}

/* Play & Button */
#play {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

#next-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

#restart-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

/* Quiz Area */
#quiz-area {
    margin-top: 20px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 45vh;
    max-height: 450px;
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Area where results are displayed */
#results-area {
    margin-top: 20px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 15vh;
    max-height: 750px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Question display */
#question{
	font-weight: 600;
    text-align: center;
}

/* Where questions will appear */
#answer-box {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* the radio buttons that need to be selected to register an answer */
.answer-option {
    font-family: "Raleway", sans-serif;
    height: 20%;
    width: 20%;
    border: 5px solid rgb(199, 100, 43);
    border-radius: 10px 10px;
}

/* Feedback display */
#feedback{
	font-weight: 600;
    text-align: center;
}

/* icons to change collor accordingly */
#correct {
    margin: 0 auto;
    padding: 1%;
    font-size: 70px;
}

#incorrect {
    margin: 0 auto;
    padding: 1%;
    font-size: 70px;
}

/* area for buttons, nest and restart */
#button-div {
    margin-top: 1%;
}

/* Where score is displayed*/
#score {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
