/* --------- Global style */
body {
    background-color: #b7cad1;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* --------- Heading */
#heading {
    background-color: bisque;
    border: rgba(123, 140, 23, 0.9) dotted 3px;
    text-align: center;
    font-size: 1.0rem;
    padding: 1.0rem;
    margin-bottom: 20px;
}

/* --------- Play & Button */
#play {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

#next {
    margin-bottom: 2%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgb(199, 100, 43);
    font-size: large;
    font-weight: bold;
}

/* ---------- Quiz Area */
#quiz {
    margin-top: 20px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 45vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* ---------- Quiz Area */
#result {
    margin-top: 20px;
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    border-radius: 10vmin;
    width: 85%;
    height: 15vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* -------- Question and answer display */
.question{
	font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

.answers label{
  display: block;
}




